
.wrapper {
	height: 92vh;
}

.wrappers {
	height: 101vh;
}

.test-img {
	background-color: white;
}

/***************************
splash page
****************************/

.splash {
	background-color: red;
}


/***************************
nav
****************************/
.nav {
	background-color: white;
}

/***************************
about me
****************************/
.about {
	background-color: lightblue;
}



/***************************
projects
****************************/
.projects {
	background-color: lightgray;
}


/***************************
contacts
****************************/
.contacts {
	background-color: lightpink;
}
