

.test-img {
	background-color: white;
}

/***************************
splash page
****************************/

.splash {
	background-color: red;
}


/***************************
nav
****************************/
.nav {
	background-color: white;
}

/***************************
about me
****************************/
.about {
	background-color: lightblue;
}



/***************************
projects
****************************/
.projects {
	background-color: lightgray;
}

.project-cont {
	background-color: white;
}

.project-desc {
	background-color: rgb(0,0,0);
}


/***************************
contacts
****************************/
.contacts {
	background-color: lightpink;
}
