@greenOne: rgb(47, 122, 50);
@greenTwo: rgb(52, 168, 56);
@greenThree: rgb(55, 191, 60);

@Bowlby: 'Bowlby One', cursive;
@Anton: 'Anton', sans-serif;

@Garamond: 'EB Garamond', serif;

/***************************
splash page
****************************/
.header-item {
	font-family: @Anton;
}

.first-name {
	font-size: 30.6vw;
    line-height: 1;
	color: @greenTwo;
}

.last-name {
	font-size: 24vw;
	line-height: 1;
	color: @greenOne;
	/*margin-bottom: -13px;*/
}

.fullstack {
	font-size: 18.12vw;
	color: green;
	-webkit-text-fill-color: transparent;
	line-height: 1;
}

.developer {
	font-size: 17.82vw;
	color: @greenOne;
	line-height: 1.2;
}

.list-frontend {
	font-size: 2.65vw;
	color: @greenTwo;
	line-height: 1;
	word-spacing: 0.1vw;
	margin-top: 5px;
	font-family: @Garamond;
}

.list-backend {
	font-size: 2.55vw;
	color: @greenTwo;
	word-spacing: 0.01vw;
	font-family: @Garamond;
}

/***************************
nav
****************************/
.nav ul > li {
	color: rgba(0,0,0,0.7);
	font-family: @Garamond;
}

/***************************
about me
****************************/

.about-hdr {
	font-family: @Anton;
}

.about-cont {
	/*line-height: 1.8;*/
	text-align: center;

}

.about-par, .about-quote {
	font-family: @Garamond;
}

.about-quote {
	font-style: italic;
}




/***************************
projects
****************************/

.project-hdr {
	text-align: center;
	color: rgb(60,155,64);
	font-family: @Anton;
}

.project-desc {

	color: rgb(0,0,0);
	font-size: 14.1px;	
	font-family: @Garamond;

	h4 {
		font-size: 22px;
	}

	p  {
		display: block;
		margin-top: 6px;
		word-wrap: break-word;
	}

	p > strong {
		color: rgb(80,169,110);
	}
}

/***************************
contacts
****************************/

.contacts-cont {
	color: rgb(60,155,64);
}

.contact-sect ul > a > li {
	color: rgb(60,155,64);
}

.contact-sect {

	ul > a > li {
	    font-size: 14px;
	    font-family: @Garamond;
	}
}

.contacts-hdr {
	font-family: @Anton;
}



/****iPad View*****/
@media only screen and (min-width: 640px) {

	/***************************
	splash page
	****************************/
	.header-item {
		padding-bottom: 50px;
	}

	.first-name {
		font-size: 197px;
	}

	.last-name {
		font-size: 154px;

	}

	.fullstack {
		font-size: 117px;
	}

	.developer {
		font-size: 115px;
	}

	.list-frontend {
		font-size: 17px;
	}

	.list-backend {
		font-size: 16.5px; 
	}

	/***************************
	nav
	****************************/
	.nav {

		ul > li {
			font-size: 21px;
		}
	}

	/***************************
	about me
	****************************/
	.about-cont {

		.desc {
			/*font-size: 24px;*/
			line-height: 5vw;
		}
	}


	/***************************
	projects
	****************************/
	.projects {

		.project-hdr {
			font-size: 4em;
		}
	}

	.project-desc {
		font-size: 16px;
    	line-height: 1.4;
	}

	/***************************
	contacts
	****************************/
	.contacts-hdr {
		font-size: 4em;
	}

	.contact-sect {

		ul > a > li {
		    font-size: 24px;
		}
	}
}



/****Desktop View*****/
@media only screen and (min-width: 1000px) {

	/***************************
	splash page
	****************************/


	/***************************
	nav
	****************************/


	/***************************
	about me
	****************************/
	.about-hdr {
		color: rgb(60,155,64);
		font-size: 55px;
	}

	.about-cont {
		text-align: left;
		.desc {
			line-height: 1.5;
			font-size: 19px;
		}
	}

	.animation {
		font-size: 70px;
		line-height: 1;
		color: @greenOne;

		h3 {
			line-height: 1;
		}

	}

	.about-quote {

		> strong {
			color: rgb(60,155,64);
		}
	}



	/***************************
	projects
	****************************/


	/***************************
	contacts
	****************************/
	.contacts-hdr {
		font-size: 3em;
	}

	.contact-sect {

		ul > a > li {
		    font-size: 21px;
		}
	}
}



@media only screen and (min-width: 1450px) {

	.about-cont .desc .about-par {
	    line-height: 1.9;
	}

}
