


/***************************
splash page
****************************/


/***************************
nav
****************************/
.nav ul > li {
	color: rgba(0,0,0,0.5);
}

/***************************
about me
****************************/



/***************************
projects
****************************/
.project-hdr {
	text-align: center;
}

.project-desc {
	color: rgb(255, 255, 255);
	font-size: 15.1px;
}

/***************************
contacts
****************************/